@font-face{
	font-family: 'Museo 700';
	src: url("../fonts/museo 700/exljbris - Museo-700.eot");
	src: url("../fonts/museo 700/exljbris - Museo-700.ttf");
}
@font-face{
	font-family: 'TektonPro';
	src: url("../fonts/TektonPro/TektonPro-BoldCond.eot");
	src: url("../fonts/TektonPro/TektonPro-BoldCond.ttf");
}