/*BASE*/
body{
	font-family: 'Open Sans', sans-serif;
	background: #fff;
}
a{
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	font-size: 11px;
	color: #0e57a1;
}
p{
	font-size: 11px;
	line-height: 1.3;
	color: #5a5a5a;
}
h1{
	font-family: 'Museo 700', sans-serif;
	font-size: 36px;
}
h2{
	font-family: 'Signika Negative', sans-serif;
	text-transform: uppercase; 
	font-weight: bolder;
	font-size: 22px;
	color: #fff;
	line-height: 1.3;
}
h3{
	font-family: 'Signika Negative', sans-serif;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 16px;
	color: #093059;
	background-image: url("../images/dashed.png");
	background-repeat: repeat-x;
	background-position: 50%;
	text-align: center;
	margin: 34px 0 34px 0;
}
h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	font-size: 13px;
	color: #0e57a1;
	margin: 10px 0 10px 0;
}
li{
	display: inline-block;
	vertical-align: top;
}
button{
	cursor: pointer;
	height: 36px;
	font-family: 'Signika Negative', sans-serif;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 14px;
	color: #fff;
	border: 1px solid #000;
	vertical-align: middle;
}
/*PROJECT*/
/*--header--*/
.p-header{
	background-color: #fefefe;
}
.p-header_container{
	width: 990px;
	padding: 0 130px 15px 160px;
	margin: 0 auto;
}
.p-header_container_logo{
	cursor: default;
	float: left;
	padding-top: 53px;
}
.logo img{
	margin-bottom: 4px;
	margin-right: 4px;
}
.logo h1{
	display: inline;
}
.p-header_container_nav{
	float: right;
	padding-top: 65px;
}
.p-header_container_nav div{
	display: inline;
	text-transform: uppercase;
}
.p-header_container_nav a{
	font-family: 'Signika Negative', sans-serif;
	font-weight: normal;
	font-size: 13px;
	text-transform: uppercase;
	padding: 55px 30px 0 30px;
}
/*--promo--*/
.promo{
	width: 100%;
	background-image: url("../images/promo_bg2.png");
	background-repeat: no-repeat;
	background-size: 100% 550px;
}
.promo_container{
	width: 990px;
	background-image: url("../images/promo_bg-iphone.png");
	background-size: 100%;
	background-position: 100% 19%;
	background-repeat: no-repeat;
	padding: 0 130px 41px 160px;
	margin: 0 auto;
}
.promo_container_social div{
	display: inline;
}
.promo_container_social a{
	display: inline-block;
	text-align: center;
	width: 53px;
	height: 45px;
	background-color: rgba(33, 88, 141, 0.5);
}
.promo_container_social img{
	margin-top: 15px;
}
.promo_container h2{
	width: 400px;
	margin-top: 50px;
}
.promo_container p,
.promo_container span{
	width: 400px;
	font-family: 'Signika Negative', sans-serif;
	font-size: 14px;
	color: #fff;
	margin-top: 20px;
}
.promo_container_video{
	position: relative;
	width: 400px;
}
.promo_container_video a{
	display: inline-block;
	width: 140px;
	height: 90px;
	background-image: url("../images/index.jpg");
	box-shadow: 0 0 3px 1px black;
	margin: 20px 0 20px 0;
}
.video_btn-play{
	cursor: pointer;
	width: 35px;
	height: 30px;
	background-color: rgba(25, 65, 104, 0.9);
	border-radius: 1px;
	text-align: center;
	margin: 30px 0 0 55px;
}
.video_btn-play img{
	margin-top: 6px;
}
.video_block-arrow{
	position: absolute;
	top: 50px;
	display: inline;
}
.video_block-arrow img{
	margin: 0 5px 0 20px;
}
.video_block-arrow span{
	font-family: 'TektonPro', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
}
.btn{
	margin-top: 15px;
}
.btn_free{
	background:linear-gradient(to top, #427404, #91b81d);
	margin-right: 5px;
}
.btn_buy{
	background: linear-gradient(to top, #923311, #cc834f);
}
/*--best features--*/
.b-f{
	width: 100%;
	background-color: #fff;
}
.b-f_container{
	width: 960px;
	margin: 0 auto;
}
.col_1-5{
	float: left;
	width: 20%;
	text-align: center;
}
.col_1-5 header{
	width: 97%;
	height: 108px;
	background: #f8f8f8;
	margin: 0 auto 0 auto;
}
.col_1-5 header img{
	margin-top: 15px;
}
.title_3 img{
	margin-top: 20px;
}
.title_3 h4{
	margin-top: 20px
}
.col_1-5 p{
	font-family: 'Open Sans', sans-serif;
	margin: 5px 20px 10px 20px;
}
.col_1-5 a{
	text-decoration: underline;
}
/*--showcase and new--*/
.wrapper_s_n{
	width: 100%;
	background-color: #fff;
}
.s_n_container{
	width: 960px;
	margin: 0 auto;
}
.showcase{
	float: left;
}
.showcase figure{
	position: relative;
	width: 380px;
	height: 280px;
}
.showcase img{
	position: absolute;
	width: 185px;
	height: 135px;
}
.image_1{
	top: 0;
	left: 0;
}
.image_2{
	top: 0;
	right: 0;
}
.image_3{
	left: 0;
	bottom: 0;
}
.image_4{
	right: 0;
	bottom: 0;	
}
.new{
	float: left;
	width: 580px;
}
.new_block{
	height: 92px;
	margin-bottom: 2px;
}
.new_block_time{
	position: relative;
	float: left;
	width: 100px;
	height: 92px;
	background-color: #fff;
}
.new_block_time time{
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	font-size: 10px;
	color: #0e57a1;
	margin-top: 20px;
	margin-left: 25px;
	text-align: center;
}
.new_block_time span{
	font-size: 24px;
}
.new_block_text{
	position: relative;
	float: right;
	width: 469px;
	height: 92px;
	background-color: #f8f8f8;
	border-left: 1px solid #0e57a1;
	padding-left:  10px;
}
.new_block_text span{
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	color: #0e57a1;
	text-decoration: underline;
}
.new_block_text a{
	position: absolute;
	right: 0;
	bottom: 10px;
	width: 113px;
	height: 32px;
	background-color: #001e3c;
	color: #fff;
	text-align: center;
}
.new_block_text a span{
	display: inline-block;
	margin-top: 10px;
	color: #fff;
	text-decoration: none;
}
/*--what people say--*/
.w_p_s h3{
	width: 960px;
	margin: 34px auto 34px auto;
}
.w-p-s_bg{
	width: 100%;
	background-color: #f1f1f1;
}
.w-p-s_content{
	width: 1060px;
	margin: 0 auto;
}
.carousel_hidden{
	width: 949px;
	overflow: hidden;
	float: left;
	padding: 20px 0 20px 0;
	z-index: 999;
}
.carousel{
	position: relative;
	list-style: none;
	width: 1000000px;
	
}
.carousel_arrow{
	width: 50px;
	cursor: pointer;
	margin-top: 60px;
	text-align: center;
}
.arrow_left{
	display: block;
	float: left;
}
.arrow_right{
	display: block;
	float: right;
}
.carousel_item{
	display: block;
	float: left;
	width: 240px;
}
.item_text{
	width: 237px;
	height: 178px;
	background-image: url("../images/cloud-text.png");
	background-repeat: no-repeat;
	padding-top: 1px;
}
.item_text p{
	margin: 15px 15px 0 15px;
}
.item_text span{
	font-family: 'Open Sans',sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #001e3c;
}
.item_person{
	position: relative;
	margin-top: 8px;
	margin-left: 22px;
}
.item_person img{
	border: 3px solid #0e57a1;
}
.item_person span{
	position: absolute;
	left: 90px;
	top: 30px;
	font-family: 'Open Sans',sans-serif;
	font-weight: bolder;
	font-size: 12px;
	color: #0e57a1;
}




.titles_gaps{
	padding: 0 15px 0 15px;
	background-color: #fff; 
}
.clearfix:after{
	content: '';
	display: table;
	clear: both;
}


.p-header_container_nav a:active{
	border-top: 12px solid #0e57a1;
}
.promo_container_social a:hover{
	background-color: #8cb741;
}
.promo_container_video a:hover{
	box-shadow: 0 0 5px 1px black;
}